# from emacs
*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Eclipse
.project
.cproject
.settings/

# VSCode
.vscode/

# Build directories
build*/
dist*/

# Documentation builds in the source tree
Documentation2/build/
Documentation2/source/api/

# also, for now we're using Documentation2 instead of Documentation
Documentation/

*.egg-info
